/*.register-table {
	margin-top: 10px;
	margin-bottom: 10px;
}

.register-table td, .register-table tr {
	margin: 0px;
	padding: 2px;
	border-spacing: 0px;
	border-collapse: collapse;
	font-family: Verdana;
	font-size: 12px;
}

.jqx-dropdownlist-content {
	font-family: Verdana;
	font-size: 12px;
	background-color: transparent;
}

h3 {
	display: inline-block;
	margin: 0px;
}
 */
p.mainMenuId {
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size:10px;
    background-color:#e0e9f5;
    padding-left:2px;
    top:inherit;
    }
.jqx-widget-energyblue {
    font-size: 12px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.jqx-widget-content-energyblue{font-size: 12px; font-family: Georgia, "Times New Roman", Times, serif;color:balck; }
.jqx-widget-header-energyblue{font-size: 12px; font-family: Georgia, "Times New Roman", Times, serif;color:balck;}
.jqx-fill-state-normal-energyblue, .jqx-fill-state-hover-energyblue, .jqx-fill-state-pressed-energyblue{font-size: 12px; font-family: Georgia, "Times New Roman", Times, serif; }

.jqx-widget-hover-energyblue {
    font-size: 12px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.jqx-widget-content-hover-energyblue{font-size: 12px; font-family: Georgia, "Times New Roman", Times, serif;color:balck; }
.jqx-widget-header-hover-energyblue{font-size: 12px; font-family: Georgia, "Times New Roman", Times, serif;color:balck;}
.jqx-fill-state-normal-hover-energyblue, .jqx-fill-state-hover-energyblue, .jqx-fill-state-pressed-hover-energyblue{font-size: 12px; font-family: Georgia, "Times New Roman", Times, serif; }